@media (max-width:576px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* ============ header ============ */
    header .navbar .nav {
        display: none;
    }

    header .navbar .logo h1 {
        font-size: 25px;
    }

    header .navbar .theme .togglebtn {
        display: block;
    }

    /* ======== homepage ======= */
    .homepage .home-p {
        padding: 120px 0px;
    }

    .homepage .hometext h1 {
        font-size: 40px;
        width: 78%;
    }

    /* appointment section */
    .appointment .app-info-sec {
        display: flex;
        flex-direction: column;
    }

    .appointment .app-info-sec .app-img-conct .app-conct {
        position: unset;
        width: 100%;
    }

    .appointment .app-info-sec .app-img-details {
        padding: unset;
    }

}