@media (min-width:768px) {
    .container {
        margin-left: 45px;
        margin-right: 45px;
    }

    /* ============ header ============ */

    /* 768px header section inherit from min 576px */
    /* ======== homepage ======= */
    .homepage .home-p {
        padding: 140px 0px;
    }

    .homepage .hometext h1 {
        font-size: 50px;
    }

    /* ======== appointment section inherit from min width 576px */
}